body{
    background-color: whitesmoke;
    font: normal 15pt Arial;
}

header{
    text-align: center;
}

section{
    
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);  
    font-size: 18px;
}

div{
    text-align: center;
    padding: 5px;
}
#msg{
    display: flex;
    height: 50px;
}

#input{
    width: 100px;
    height: 10px;
    margin-top: 21px;
    margin-left: 10px;   
 
}

#radio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.pixels{
  
    width: 250px;
    height: 100%;
}

footer{
    text-align: center;
    font-style: italic;
}